[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/tcomment"]
	path = .vim/bundle/tcomment
	url = https://github.com/vim-scripts/tComment.git
